main {
	padding: 15px;
	margin: 30px 8px;
	background-color: rgba(128, 128, 128, 0.185);
	border-radius: 8px;
	text-align: center;
}

#mainHead h1 {
	font-size: 2.75rem;
}

#mainhead p {
	font-size: 2.25rem;
}
.mainImage {
	background-color: white;
	padding-bottom: 1rem;
}

.mainImage p {
	padding: 0 1rem;
}

.blackandwhiteimg img {
	/* object-fit: contain; */
	max-width: 100%;
	height: auto;
}
.mainContent {
	margin: 0 auto;
	padding: 0 10%;
	line-height: 1.5;
}
.mainContent h2 {
	padding: 15px 0;
}

.mainContent ul {
	max-width: 550px;
	margin: 0 auto 50px auto;
	text-align: left;
	line-height: 1.6;
}

.mainContent li {
	font-size: 1.15rem;
	padding: 0.5rem 0;
}

blockquote {
	text-align: start;
	font-style: italic;
	font-size: 1.15rem;
	padding-bottom: 1rem;
	max-width: 550px;
	margin: 0 auto;
}
.mainFooter {
	font-size: 1.25rem;
	font-weight: 600;
	margin: 0 auto;
}
